<!DOCTYPE html>
<html>
<head>
  <title>About</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/homee.css">

</style>
</head>
<body>
    <div class="topnav">
  <a  href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/resultview">Seat Plan</a>
  <a class="active" href="/About">About</a>

</div>
<style>
  /* Add your CSS styles here */
  body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
  }
  header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
  }
  main {
      padding: 20px;
  }
  .developers {
      list-style-type: none;
      padding: 0;
  }
  .developer {
      margin-bottom: 10px;
  }
</style>
</head>
<body>
<header>
  <h1>About Us</h1>
</header>
<main>
  <section>
      <h2>Meet Our Developers</h2>
      <ul class="developers">
          <li class="developer">Aakash Thapa
              <a href="mailto:thpaakash99@gmail.com"      class="email">thpaakash99@gmail.com  </a>     </li>
          <li class="developer">Aayush Sigdel
              <a href="mailto:aayushsigdel08@gmail.com"  class="email">aayushsigdel08@gmail.com</a>    </li>
          <li class="developer">Abiral Shrestha
              <a href="mailto:sthaabiral84@gmail.com" class="email"> sthaabiral84@gmail.com </a>      </li>
          <li class="developer">Barsha Bhujel
              <a href="mailto:brsabhujel@gmail.com" class="email">brsabhujel@gmail.com</a>      </li>
          <li class="developer">Kusum Gurung
              <a href="mailto:gurungkusum526@gmail.com" class="email">gurungkusum526@gmail.com</a>      </li>
          <li class="developer">Saugat Baral
              <a href="mailto:saugatbaral12345@gmail.com" class="email">saugatbaral12345@gmail.com</a>      </li>
      </ul>
  </section>
</main>
<footer>
<center>      <p>&copy; 2024- Seat Plan Generator. All rights reserved.</p>  </center>
</footer>
</body>
</html>